body {
  padding-bottom: 20px;
  background-color: #FFFFFA;
  background-image: url('../images/patterenedbackground.jpg');
  font-family: 'Architects Daughter', cursive;
  color: #312F2F;
}

#nav{
	font-family:'Just Another Hand', cursive;
	font-size: 1.2em;
}
#accent {
	margin-top:0.5em;
}

.navbar-nav a {
	font-family:'Just Another Hand', cursive;
	font-size:2em;
	color: #312F2F;
	letter-spacing: 0.1em;
}

/* mouse over link */
.navbar-nav a:hover {
	font-family:'Just Another Hand', cursive;
	color: #828A95;
	letter-spacing: 0.1em;
	transition: 0.3s;
}

.header {
	max-width: 100%;
	height:auto;
	text-align:center;
}

#heading {
	background-image: url('../images/headerbackground.jpg');
	width: 100%;
	margin-bottom:1em;
	margin-top:0.5em;
}

h1 {
	font-family: 'Just Another Hand', cursive;
	font-size: 2em;
	display:inline;
	color: #CC2936;
}

#body h2 {
	font-family: 'Just Another Hand', cursive;
	font-size: 2em;
	letter-spacing:0.1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #CC2936;
}

#body a{
	color: #5b7c4d;
}

#socials{
	position:absolute;
	top:0;
	right:0;
}
#socialnav{
	display:none;
}


#footer{
	font-size: 0.8em;
	bottom: 0;
	text-align: center;
	margin-top:5em;
}
@media only screen and (max-width: 1000px){
	#accent {
		display:none;
	}
	#socials {
		display:none;
	}
	#socialnav{
	display:inline;
	}
}